.face {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.face::before {
  content: "";
  position: absolute;
  top: 190px;
  width: 110px;
  height: 50px;
  background-color: #283593;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  transition: 0.5s
}

.face:hover::before {
  top: 210px;
  width: 150px;
  height: 20px;
  background-color: #006064;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  transition: 0.5s
}

.eyes {
  position: relative;
  top: -40px;
  display: flex;
}

.eyes .eye {
  position: relative;
  width: 80px;
  height: 80px;
  display: block;
  margin: 0 15px;
  border-radius: 50%;

}

.eyesUp {
  transform: rotate(90deg)
}

.eyesDown {
  transform: rotate(-80deg)
}

.eyes .eye::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background: black;
  border-radius: 50%;
}