@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes rotateSwell {
0% { transform: rotate(0deg) scale(1); }
50% { transform: rotate(180deg) scale(1.2); }
 100% { transform: rotate(360deg) scale(1); }
}



@keyframes rotate {
  0% { transform: rotate(0deg) }
  50% { transform: rotate(180deg) }
   100% { transform: rotate(360deg) }
  }



@keyframes pullDown {
	0% {
		transform: scaleY(0.1);
	}
	100% {
		transform: scaleY(1);
	}	
}

@keyframes flyIn {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0vw)
  }
}

@keyframes flyOut {

  to {
    transform: translateX(-100vw) rotate(-50deg) skew(90deg);
  }
}

@keyframes flyInOut {
  0% {
    transform: translateX(100vw) scale(0.8);
  }
  30% {
    transform: translateX(0) scale(1.1);
  }
  70% {
    transform: scale(1.5) translateX(0);
  }

  100% {
    transform: scale(0.2, 0.5) translateX(-150vw) translateY(-140vh) rotate(-420deg) skew(80deg);
  }
}

@keyframes wiggle {

  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes scroller {
  0% {
    transform: translateX(100vw)
  }
  100% {
    transform: translateX(-100vw);
  }
  
}

/* .ticker-container {
  display: flex;
  overflow: hidden;
} */

/* Create the animation keyframes */
@keyframes ticker {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Apply the animation to the ticker text elements */
.ticker-text {
  animation: ticker 20s linear infinite;
  white-space: nowrap;
  padding-right: 1rem; /* Add some spacing between the repeated text */
}